<!DOCTYPE>
<html>
    <head>
          <title> Car Blog </title>
          <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
          <link rel="stylesheet" text="text/css" href="/stylesheets/app.css">
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        
        <div class="ui inverted menu">
         
            <div class="ui container">
               
            <div class="header item"><i class="car icon"></i>Car Blog</div>
             <a href="/" class="item red active">Home</a>
          <a href="/blogs/new" class=" item">Post New Car</a>
        </div>
        </div>
         